<h2>Detailed Question</h2>
<h3><%= @question.title %></h3><br>
<p><%= @question.body %></p>
<p>Last update: <%= @question.updated_at %></p>

<% if @question.user_id == session[:user_id] %>
<form action="/questions/<%= @question.id %>/edit" method="get">
  <input type="submit" value="Edit Question">
</form>
<form action="/questions/<%= @question.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Question">
</form>
<% end %>

<!-- <form method="post" action='/posts/<%#= post.id %>/vote' class="inline">
        <button type="submit" name="submit_param" value="submit_value" class="fa fa-sort-desc vote-button upvote-button"></button>
      </form> -->

      <br>
<h2>Here are the answers to the question</h2>
  <div id="answers-container">
    <% @answers.each do |answer| %>
      <p> <%= answer[:votes] %> votes</p>
      <p> <%= answer[:body] %> answers</p>
      <p> <%= answer[:date] %></p>

    <% if answer[:user_id] == session[:user_id]  %>
      <form action="/questions/<%= @question.id %>/answers/<%=session[:user_id]%>/edit" method="get">
        <input type="submit" value="Edit Answer">
        </form>
        <form action="/questions/<%= @question.id %>/answers/<%=answer[:id]%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete Answer">
        </form>
        <% end %>
        <hr>
    <% end %>

  </div>
  <br>
  <br>
    <% if current_user %>
      <a id="add_answer_button" href="/questions/<%= @question.id %>/answers/new"> Add an answer</a>
    <% end %>


      <div id="form-div">
      </div>

