
 <center><h2>Welcome to Overflow!</h2></center>



<div id="sorting-nav">
    <ul>
      <li><a href="#">Vote</a></li>
      <li><a href="#">Newest</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
</div>

<div id="questions-container">
  <% @questions_h.each do |question| %>
      <p> <%= question[:votes] %> votes</p>
      <p> <%= question[:answers] %> answers</p>
      <h4><a href="/questions/<%= question[:question_id] %>"> <%= question[:title] %></a></h4>
      <p> <%= question[:date] %></p>
      <hr>
  <% end %>
</div>


<center><h2> Click above to find answers </h2></center>

<center><h4>This is the home page by the way!</h4></center>

<center><h5>We should authenticate by email not by username </h5></center>


<center><p>lil ß</p></center>
